div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default(href="#/subscriptions/create") Create
		.clearfix
	.panel-body
		table.table.table-hover
			thead
				tr.text-capitalize
					th #
					th Subscription
					th.text-right Subscription
					th Credits
					th Campaign
					th Status
			tbody
				tr(ng-repeat="subs in ctrl.subscriptions")
					td {{$index + 1024}}
					td {{subs.client}}
					td.text-right {{subs.startDate|date}}
					td
						strong.text-capitalize.text-primary
							span {{subs.usedCredits}}
							span &nbsp;/&nbsp;
							span {{subs.totalCredits}}
					td
						a(ng-href="#/campaigns/{{subs.campaign._id}}") {{subs.campaign.name}}
					td
						strong.text-capitalize
							span.label.label-danger.text-muted In Active
