div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default(href="#/subscriptions/create") Create
		.clearfix
	.panel-body
		table.table
			thead
				tr.text-capitalize
					th Subscription
					th.text-right Subscription
					th Credits
					th Campaign
					th.text-right Actions
			tbody
				tr(ng-repeat="subs in ctrl.subscriptions")
					td {{subs.client}}
					td.text-right {{subs.startDate|date}}
					td
						strong.text-capitalize.text-muted
							span {{subs.usedCredits}}
							span &nbsp;/&nbsp;
							span {{subs.totalCredits}}
					td
						a(ng-href="#/campaigns/{{subs.campaign._id}}") {{subs.campaign.name}}
					td.text-right
						a.btn.btn-default.btn-xs(ng-href="#/subscriptions/{{subs._id}}") Details
