.pull-right(ng-controller='ProfileListCtrl as profileCtrl')
	a(href="javascript: void 0")
		img.profile-image(
			src="{{profileCtrl.profile.picture}}"
			alt="Profile Picture"
			title="{{profileCtrl.profile.email}}"
			ng-if="profileCtrl.profile"
		)