.pull-right(ng-controller='ProfileListCtrl as profileCtrl')
	img.profile-image.img-circle(
		ng-src="{{profileCtrl.profile.picture}}"
		alt="Profile Picture"
		title="{{profileCtrl.profile.email}}"
		ng-if="profileCtrl.profile"
	)
.clearfix