.panel.panel-info
	.panel-heading
		.panel-title Alter Campaign
	.panel-body
		div(ng-hide="ctrl.programs")
			h4.text-info Campaigns are a part of a Program, so create a that first.
		form.form-horizontal(role='form' ng-show="ctrl.programs")
			.form-group
				label.col-md-4.control-label Campaign Name
				.col-md-6
					input.form-control(type='text', placeholder='Enter a name for the Campaign', ng-model="ctrl.campaign.name")
			.form-group
				label.col-md-4.control-label Program
				.col-md-6
					select.form-control(
						ng-model="ctrl.campaign.program"
						ng-options="program._id as program.name for program in ctrl.programs")
			hr
			.row.form-group
				.col-md-offset-4.col-md-6
					h4.text-muted Cost Per 1k Impressions (CPM)
			.row.form-group
				label.col-md-4.control-label Default
				.col-md-3
					input.form-control(type="text" placeholder="CPM" ng-model="keyword")
			.row.form-group
				label.col-md-4.control-label Special Keywords
				.col-md-3
					input.form-control(type="text" placeholder="Keywords/Phrases" ng-model="keyword")
				.col-md-1
					input.form-control(type="text" placeholder="CPM")
				.col-md-1
					button.btn.btn-primary
						span.glyphicon.glyphicon-plus
			.row.form-group(ng-repeat="keyword in ctrl.campaign.keywords")
				.col-md-offset-4.col-md-3
					.form-control-static {{keyword}}
				.col-md-1
					.form-control-static 0
				.col-md-1
					button.btn.btn-warning
						span.glyphicon.glyphicon-trash
			.form-group
				label.col-md-4.control-label Keywords
					small.text-muted &nbsp;csv
				.col-md-6
					input.form-control(type="text" placeholder="Enter comma separated values for keywords", ng-model="ctrl.campaign.keywords")
			.form-group
				.col-md-6.col-md-offset-4
					button.btn.btn-primary(type="button" ng-click="ctrl.save()") Save
					| &nbsp;
					a.btn.btn-default(ng-href="#/campaigns") Cancel
