div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default.btn-sm(ng-href="#/campaigns/create") Create
		.clearfix
	.panel-body
		div(ng-hide="ctrl.campaigns")
			center
				h3.text-info You don't have any campaigns.
		table.table(ng-show="ctrl.campaigns")
			thead
				tr.text-capitalize
					th Campaign
					th Program
					th Default CPM
					th.text-right Keys
					th.text-right Actions
			tbody
				tr(ng-repeat="campaign in ctrl.campaigns")
					td
						.text-capitalize {{campaign.name}}
					td
						a.text-capitalize(ng-href="#/programs/{{campaign.program._id}}/update") {{campaign.program.name}}
					td {{campaign.defaultCost}}
					td.text-right {{campaign.keywordPricing.length}}
					td.text-right
						a.btn.btn-xs(type="button"
							ng-click="ctrl.toggleStatus(campaign)"
							ng-class="{'btn-info': campaign.isEnabled, 'btn-warning': !campaign.isEnabled}")
							span(ng-show="campaign.isEnabled") Started
							span(ng-hide="campaign.isEnabled") Stopped
						a.btn.btn-link.btn-xs(ng-href="#/campaigns/{{campaign._id}}/update") Update
						a.btn.btn-link.btn-xs(ng-href="#/campaigns/{{campaign._id}}/metrics") Metrics
