//- TODO: Remove from git
extends ./layout.jade

block title
    | mean-ads Page Not Found
block content
    .container
        .center-block(style="width:800px;")
            h1.text-info Oops! We couldn't find the page you were looking for.
                small &nbsp;404
