//- TODO: Remove from git
extends ./layout.jade

block head-scripts
	script(data-main="/static/require-config.js" src="/static/lib/require.js")
block content
		.row.loader-layer
			.col-md-10
				#circleG
					#circleG_1.circleG
					#circleG_2.circleG
					#circleG_3.circleG
		.row
			.col-md-10
				div(ng-view)
			.col-md-2
				div(ng-include='\'templates/nav/list-tmpl\'')
