//- TODO: Remove from git
extends ./layout.jade

block head-scripts
	script(data-main="/static/require-config.js" src="/static/lib/require.js")
block content
		.row
			.col-md-10
				.flat-layer(style="height:160px;")
					#circleG.block-center.block-middle
						#circleG_1.circleG
						#circleG_2.circleG
						#circleG_3.circleG
						.clearfix
		.row
			.col-md-10
				.flat-layer.opaque(ng-view)
			.col-md-2
				div(ng-include='\'templates/nav/list-tmpl\'')
