doctype html
html
  head
    title Meanjs adwords
    //---inject:css---
    //---inject---
  body.metro(ng-app="mean-ads")
    
    div(ng-include='\'modules/navbar\'')
    div(ng-view)
    //---inject:js---
    //---inject---