//- TODO: Remove from git
doctype html
html
  head
    title Meanjs adwords
    //---inject:css---
    link(rel='stylesheet' href='lib/fontawesome/css/font-awesome.css')
    link(rel='stylesheet' href='lib/metro-ui-css/css/metro-bootstrap-responsive.css')
    link(rel='stylesheet' href='lib/metro-ui-css/css/metro-bootstrap.css')
    link(rel='stylesheet' href='styles/main.css')
    //---inject---
  body.metro(ng-app="mean-ads")

    div(ng-include='\'modules/nav/navbar\'')
    div.container(ng-view)
    //---inject:js---
    script(src='lib/angular/angular.js')
    script(src='lib/angular-animate/angular-animate.js')
    script(src='lib/angular-cookies/angular-cookies.js')
    script(src='lib/angular-resource/angular-resource.js')
    script(src='lib/angular-route/angular-route.js')
    script(src='lib/angular-sanitize/angular-sanitize.js')
    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/jquery-ui/ui/jquery-ui.js')
    script(src='lib/metro-ui-css/min/metro.min.js')
    script(src='app.js')
    script(src='modules/campaign.js')
    script(src='modules/main.js')
    script(src='modules/navbar.js')
    script(src='modules/admin/admin.js')
    script(src='modules/admin/campaign.js')
    script(src='modules/nav/navbar.js')
    script(src='modules/admin/campaign/campaign.js')
    //---inject---
