//- TODO: Remove from git
extends ./layout.jade

block head-scripts
	script(src="/static/lib/meanads-client.js")
block content
		.row
			.col-md-10
				#circleG.block-center.block-middle
					div(mean-loader)
						#circleG_1.circleG
						#circleG_2.circleG
						#circleG_3.circleG
						.clearfix
		.row
			.col-md-10
				.opaque(ng-view)
			.col-md-2
				div(ng-include='\'templates/nav/list-tmpl\'')
