//- TODO: Remove from git
extends ./layout.jade

block head-scripts
    script(data-main="require-config.js" src="/lib/require.js")
block content
    .container
        .row
            .col-md-10
                div(ng-view)
            .col-md-2
                div(ng-include='\'modules/nav/navbar\'')
