//- TODO: Remove from git
doctype html
html
    head
        title
            block title
                | mean-ads
        link(rel='stylesheet' href='/static/lib/font-awesome.css')
        link(rel='stylesheet' href='/static/lib/bootstrap.css')
        link(rel='stylesheet' href='/static/css/main.css')
        block head-scripts
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href="#") mean-ads
                div(ng-include='\'templates/profiles/list-tmpl\'')
        block content
