ul.nav.nav-pills.nav-stacked(ng-controller='NavbarCtrl as navCtrl')
    li(ng-repeat="module in navCtrl.modules" ng-class="{active:navCtrl.isActive(module.path)}")
        a(ng-href="#{{module.path}}") {{module.name}}
