div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default.btn-sm(href="#/subscriptions/create") Create
		.clearfix
	.panel-body
		div(ng-hide="ctrl.subscriptions")
			center
				h3.text-info You don't have any subscriptions.
		table.table(ng-show="ctrl.subscriptions")
			thead
				tr.text-capitalize
					th Subscription
					th Campaign
					th.text-left Start Date
					th.text-right Budget
					th.text-right Conversions
					th.text-right Impressions
					th.text-right Clicks
					th.text-right Actions
			tbody
				tr(ng-repeat="sub in ctrl.subscriptions")
					td {{sub.client}}
					td
						a(ng-href="#/campaigns/{{sub.campaign._id}}/update") {{sub.campaign.name}}
					td.text-left
						span.right-space {{sub.startDate|date}}
					td.text-right
						span(ng-class="ctrl.onInActiveCss(sub)")
							span {{sub.usedCredits | number: 2}}
							span &nbsp;/&nbsp;
							span {{sub.totalCredits}}
					td.text-right {{sub.conversions}}
					td.text-right {{sub.impressions}}
					td.text-right {{sub.clicks}}
					td.text-right
						a.btn.btn-link.btn-xs(ng-href="#/subscriptions/{{sub._id}}/update") Update
						a.btn.btn-link.btn-xs(ng-href="#/subscriptions/{{sub._id}}/metrics") Metrics
