.panel.panel-info
	.panel-heading
		h4 Dentists and Retards - Performance Metrics
			span.label.label-warning.pull-right Expired

	.panel-body
		.row.text-muted.text-uppercase
			.col-md-3.col-md-offset-2 Gauge
			.col-md-2 Credits
			.col-md-3 Start Date
			.col-md-2 Total Time

		.row.text-default.lead
			.col-md-2.text-info.text-right
				small #[abbr(title="Initial status of the subscription") Inception]
			.col-md-3 #[big Impressions]

			.col-md-2 #[big 234]
			.col-md-3 #[big 20-Jan-2014]
			.col-md-2 #[big 234] Days

		hr
		.row.text-muted.text-uppercase
			.col-md-3.col-md-offset-2 Credit Anticipation
			.col-md-2 Credit Usage
			.col-md-2 Elapsed Time

		.row.text-default.lead
			.col-md-2.text-info.text-right
				small #[abbr(title="Subscription performance till date") Accomplishment]
			.col-md-3 #[big 234]
			.col-md-2 #[big 123]
			.col-md-2 #[big 345] Days

		hr
		.row.text-muted.text-uppercase
			.col-md-3.col-md-offset-2 Credit Anticipation
			.col-md-2 Credit Usage
			.col-md-3 Credit Performance

		.row.text-default.lead
			.col-md-2.text-info.text-right
				small #[abbr(title="Expected performance of the subscription") Potential]
			.col-md-3 #[big 500]
			.col-md-2 #[big 370]
			.col-md-3
				big
					abbr(title="Ratio of actual vs anticipated consumption of credits") 170%
