.panel.panel-default
	.panel-heading
		.panel-title
			a(href="#/subscriptions/{{ctrl.subscription._id}}/update") {{ctrl.subscription.client}}
			.both-space.label.label-warning(ng-show="ctrl.isExpired") Expired
			.both-space.label.label-warning(ng-show="ctrl.isInActive") Inactive
			button.pull-right.btn.btn-default.btn-sm(
				ng-disabled="ctrl.subscription.emailAccess == 0"
				ng-click="ctrl.sendEmail()"
				title="Email a summary of the subscription's performance"
				) Email ({{ctrl.subscription.emailAccess.length}})
			.clearfix
	.panel-body
		.row.text-muted.text-uppercase
			.col-md-3.col-md-offset-2 Total Credits
			.col-md-3 Start Date

		.row.text-default.lead
			.col-md-2.text-info.text-right
				small #[abbr(title="Initial status of the subscription") Inception]
			.col-md-3 #[big {{ctrl.subscription.totalCredits}}]
			.col-md-3 #[big {{ctrl.subscription.startDate|date}}]

		hr
		.row.text-muted.text-uppercase
			.col-md-3.col-md-offset-2 expected credit usage
			.col-md-3 observed credit usage
			.col-md-2 Elapsed Time
			.col-md-2 Conversions

		.row.text-default.lead
			.col-md-2.text-info.text-right
				small #[abbr(title="Subscription performance till date") Accomplishment]
			.col-md-3
				big {{ctrl.creditAnticipation | number: 0 }}
			.col-md-3
				big {{ctrl.subscription.usedCredits}}
			.col-md-2 #[big {{ctrl.elapsedTime_days}}] Days
			.col-md-2 #[big {{ctrl.subscription.conversions}}]
		hr
		.row.text-muted.text-uppercase

			.col-md-3.col-md-offset-2 Credit Usage
			.col-md-3 Fulfillment
			.col-md-3 Total Time

		.row.text-default.lead
			.col-md-2.text-info.text-right
				small #[abbr(title="Expected performance of the subscription. Ideally should be 100%") Extrapolated]
			.col-md-3 #[big {{ctrl.creditPotentialUsage| number: 0}}]
			.col-md-3
				big
					abbr(title="Ratio of actual vs anticipated consumption of credits")
						| {{ctrl.fulfillment| number: 1}}
				| &nbsp;%
			.col-md-3 #[big {{ctrl.campaign.days}}] Days
