div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default(ng-href="#/programs/create") Create
		.clearfix
	.panel-body
		table.table
			thead
				tr.text-capitalize
					th Program
					th Style
					th Gauge
					th Delivery
					th.text-right Actions
			tbody

				tr(ng-repeat="program in ctrl.programs")
					td
						.text-capitalize {{program.name}}
					td
						a.text-capitalize(ng-href="#/styles/{{program.style._id}}/update" ng-show="program.style")
							| {{program.style.name}}
						strong.text-warning(ng-hide="program.style") Not Set
					td
						strong.text-capitalize.text-muted {{program.gauge}}
					td
						strong.text-capitalize.text-muted {{program.delivery}}
					td.text-right
						a.btn.btn-link.btn-xs(ng-href="#/programs/{{program._id}}/update") Update
