.panel.panel-info
	.panel-heading
		h4 Update Style
	.panel-body
		form.form-horizontal(role='form')
			.form-group
				label.col-md-4.control-label Style Name
				.col-md-6
					input.form-control(type='text', placeholder='Enter a name for the Style' ng-model="ctrl.style.name")
			.form-group
				label.col-md-4.control-label Placeholders (csv)
				.col-md-6
					input.form-control(type='text', placeholder='Enter placeholder names for your template' ng-model="ctrl.style.placeholders")
			.form-group
				label.col-md-4.control-label Templating Engine
				.col-md-6
					label.form-control
						a(href="http://olado.github.io/doT/index.html") DotJS

			.form-group
				.col-md-4
					div
						label.text-muted.control-label Stylesheet (CSS)
					div(ui-ace="{mode:'handlebars', theme: 'github', onChange: ctrl.onContentChange}" ng-model="ctrl.style.css")

				.col-md-8
					div
						label.text-muted.control-label HTML
					div(ui-ace="{mode:'handlebars', theme: 'github', onChange: ctrl.onContentChange}" ng-model="ctrl.style.html")

			.form-group
				.col-md-6.col-md-offset-4
					button.btn.btn-primary(type="button" ng-click="ctrl.save()") Save
					| &nbsp;
					a.btn.btn-default(ng-href="#/programs") Cancel
