div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default.btn-sm(href="#/styles/create") Create
		.clearfix
	.panel-body
		div(ng-hide="ctrl.styles")
			center
				h3.text-info You don't have any styles.
		table.table(ng-show="ctrl.styles")
			thead
				tr.text-capitalize
					th Style
					th Placeholders
					th Size
					th.text-right Actions
			tbody
				tr(ng-repeat="style in ctrl.styles")
					td {{style.name}}
					td {{style.placeholders.length}}
					td
						span {{style.html.length + style.css.length}}
						small &nbsp;chars
					td.text-right
						a.btn.btn-link.btn-xs(
							ng-href="#/styles/{{style._id}}/update"
						) Update
