div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default(href="#/styles/create") Create
		.clearfix
	.panel-body
		table.table
			thead
				tr.text-capitalize
					th Style
					th Placeholders
					th Size
					th.text-right Actions
			tbody
				tr(ng-repeat="style in ctrl.styles")
					td {{style.name}}
					td
						strong.text-muted {{style.placeholders.length}}
					td.text-muted
						strong {{style.html.length + style.css.length}}
						small &nbsp;chars
					td.text-right
						a.btn.btn-default.btn-xs(ng-href="#/styles/{{style._id}}/update") Details
