div.panel.panel-default
    .panel-heading
        .btn-group
            button.btn.btn-default Create
            button.btn.btn-default.disabled Edit
            button.btn.btn-default.disabled Stop
            button.btn.btn-default.disabled Start
            button.btn.btn-default Archive
        .clearfix
    .panel-body
        table.table
            thead
                tr.text-capitalize
                    th #
                    th Campaign
                    th Program
                    th.text-right Duration
                    th Commitment
                    th.text-right Subscriptions
                    th Status
                    th Health
            tbody
                tr(ng-repeat="campaign in cmpCtrl.campaigns")
                    td {{$index+1002}}
                    td
                        .text-capitalize {{campaign.name}}
                    td
                        a.text-capitalize(href="#") {{campaign.program}}
                    td.text-right {{campaign.duration}}
                    td
                        strong.text-capitalize.text-muted {{campaign.commitment}} {{campaign.gauge}}
                    td.text-right
                        a(href="#") {{campaign.adCount}}
                    td
                        strong.text-capitalize.text-muted {{campaign.status}}
                    td
                        span.text-capitalize.label(class="label-{{campaign.health}}")  {{campaign.health}}
