.btn-group
    button.btn.btn-default Create
    button.btn.btn-default.disabled Edit
    button.btn.btn-default.disabled Archive
div
    table.table
        thead
            tr
                th #
                th Campaign
                th Style
                th.text-right Slots
                th.text-right Ads
                th Gauge
                th Algorithm
                th.text-right Status
        tbody

            tr(ng-repeat="campaign in cmpCtrl.campaigns")
                td
                    label
                        input(type="checkbox")
                        span &nbsp;
                        span {{$index+101}}

                td
                    .text-capitalize {{campaign.name}}
                td
                    a.text-capitalize(href="#") {{campaign.style}}
                td.text-right
                    a(href="#") {{campaign.slotCount}}
                td.text-right
                    a(href="#") {{campaign.adCount}}
                td
                    strong.text-capitalize.text-muted {{campaign.gauge}}
                td
                    strong.text-capitalize.text-muted {{campaign.algorithm}}
                td.text-right
                    span.text-capitalize.label(ng-class="{'label-success':campaign.status == 'active', 'label-danger': campaign.status === 'stale' }")  {{campaign.status}}
