.btn-group
    button.btn.btn-default Create
    button.btn.btn-default.disabled Edit
div
    table.table
        thead
            tr.text-capitalize
                th #
                th Campaign
                th Program
                th.text-right Start
                th.text-right End
                th Commitment
                th.text-right Ads
                th.text-right Status
        tbody
            tr(ng-repeat="campaign in cmpCtrl.campaigns")
                td {{$index+1002}}
                td
                    .text-capitalize {{campaign.name}}
                td
                    a.text-capitalize(href="#") {{campaign.program}}
                td.text-right {{campaign.startDate| date}}
                td.text-right {{campaign.endDate| date}}
                td
                    strong.text-capitalize.text-muted {{campaign.commitment}} Clicks
                td.text-right
                    a(href="#") {{campaign.adCount}}
                td.text-right
                    span.text-capitalize.label(ng-class="{'label-success':campaign.status == 'active', 'label-danger': campaign.status === 'stale' }")  {{campaign.status}}
