div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default(ng-href="#/campaigns/create") Create
		.clearfix
	.panel-body
		table.table
			thead
				tr.text-capitalize
					th #
					th Campaign
					th Program
					th Duration
					th Commitment
					th.text-right Keys
					th Status
			tbody
				tr(ng-repeat="campaign in ctrl.campaigns")
					td {{$index+1002}}
					td
						.text-capitalize {{campaign.name}}
					td
						a.text-capitalize(ng-href="#/programs/{{campaign.program._id}}") {{campaign.program.name}}
					td
						strong.text-muted {{campaign.days}}
						small.text-muted &nbsp;days
					td
						strong.text-capitalize.text-muted {{campaign.commitment || "0"}}
						small.text-muted &nbsp;{{campaign.program.gauge}}
					td.text-right
						a(href="#") {{campaign.keywords.length}}
					td
						a.label(href="javascript: void 0;"
							ng-click="ctrl.toggleStatus(campaign)"
							ng-class="{'label-success': campaign.isEnabled, 'label-warning': !campaign.isEnabled}")
							span(ng-show="campaign.isEnabled") Running
							span(ng-hide="campaign.isEnabled") Stopped
