div.panel.panel-default
    .panel-heading
        .btn-group
            a.btn.btn-default(ng-href="#/programs/create") Create
            a.btn.btn-default.disabled Edit
            a.btn.btn-default.disabled Archive
        .clearfix
    .panel-body
        table.table
            thead
                tr.text-capitalize
                    th #
                    th Program
                    th Style
                    th.text-right Campaigns
                    th Gauge
                    th Delivery
            tbody

                tr(ng-repeat="program in prgCtrl.programs")
                    td {{$index+101}}
                    td
                        .text-capitalize {{program.name}}
                    td
                        a.text-capitalize(href="#" ng-show="program.style")
                            {{program.style.name}}
                        span.text-warning(ng-hide="program.style") Not Set
                    td.text-right
                        a(href="#") {{program.campaignCount}}
                    td
                        strong.text-capitalize.text-muted {{program.gauge}}
                    td
                        strong.text-capitalize.text-muted {{program.algorithm}}
