div.panel.panel-default
	.panel-heading
		.btn-group
			a.btn.btn-default(href="#/styles/create") Create
			button.btn.btn-default.disabled Edit
			button.btn.btn-default Preview
		.clearfix
	.panel-body
		table.table
			thead
				tr.text-capitalize
					th #
					th Style
					th Placeholders
					th Size
					th Actions
			tbody
				tr(ng-repeat="style in ctrl.styles")
					td {{$index + 1024}}
					td {{style.name}}
					td
						strong.text-muted {{style.placeholders.length}}
					td.text-muted
						strong {{style.html.length + style.css.length}}
						small &nbsp;chars
					td
						a(ng-href="#/styles/{{style._id}}") Edit
