div.panel.panel-default
    .panel-heading
        .btn-group
            a.btn.btn-default(href="#/styles/create") Create
            button.btn.btn-default.disabled Edit
            button.btn.btn-default Preview
        .clearfix
    .panel-body
        table.table
            thead
                tr.text-capitalize
                    th #
                    th Style
                    th.text-right Programs
                    th Size
            tbody
                tr(ng-repeat="style in stylCtrl.styles")
                    td {{$index + 1024}}
                    td {{style.name}}
                    td.text-right
                        a(href="#") {{style.programs}}
                    td {{style.size}} bytes
