$loader-circle-size = 14px
$loader-circle-margin = 5px
#circleG
	width ($loader-circle-size + $loader-circle-margin * 2) * 3
	height $loader-circle-size
.circleG
	animation-name bounce_circleG
	animation-duration 1.2s
	animation-iteration-count infinite
	animation-direction linear
	border-radius 50%
	background-color #FFFFFF;
	float left;
	height $loader-circle-size
	margin 0 $loader-circle-margin
	width $loader-circle-size

// TODO: Automate it
#circleG_1
	animation-delay 0.33s

#circleG_2
	animation-delay 0.66s


#circleG_3
	animation-delay 0.99s


@keyframes bounce_circleG
	0%{
	}

	50%{
		background-color #2196f3
	}

	100%{
	}
