#circleG
	width 149.33333333333334px
.circleG
	animation-name bounce_circleG
	animation-duration 1.2s
	animation-iteration-count infinite
	animation-direction linear
	border-radius 50%
	background-color:#FFFFFF;
	float:left;
	height:32px;
	margin-left:17px;
	width:32px;


#circleG_1
	animation-delay 0.24000000000000005s

#circleG_2
	animation-delay 0.56s


#circleG_3
	animation-delay 0.72s


@keyframes bounce_circleG
	0%{
	}

	50%{
		background-color:#2196f3
	}

	100%{
	}
