// Variables
@import 'mixins'
@import 'loader'
@import 'utils'
$white-space-margin = 0.3em
$profile-pic-size = 64 px

body,html
	height 100%
.page-wrapper
	$footer-height = 120px
	min-height 100%
	position relative
	.content
		padding-bottom $footer-height
	.footer
		border-top 1px solid #eeeeee
		width 100%
		position absolute
		bottom 0
		height $footer-height
.ace_editor
	height 200px
span.left-space
	margin-left $white-space-margin
span.right-space
	margin-right $white-space-margin
span.both-space
	margin $white-space-margin 0
.profile-image, .profile-image img
	height $profile-pic-size
	width $profile-pic-size
	background-color #2196f3
	padding 4px
	border-radius 50%
	position relative
	top ($profile-pic-size / 4)
.row-layer
	position relative
	background-color #fff