// Variables

$white-space-margin = 0.3em
$profile-pic-size = 64px
.navigation-bar-content
	.element
		&.active
			border-bottom 3px solid rgba(80,80,80,0.8)

.ace_editor
	height 200px
.preview-well
	height 427px
span.left-space
	margin-left: $white-space-margin
span.right-space
	margin-right: $white-space-margin
span.both-space
	margin: $white-space-margin 0
img.profile-image
	height: $profile-pic-size
	width: $profile-pic-size
	border-radius: 8px
	padding: 6px
.square
	border-radius: 0
